
#archives
*.tar.gz

#technical files
*.aux
*.log
*.backup
template.tex
*.bbl
*.blg
*.fdb_latexmk
*.fls

#interim *.pdf  pictures
pics/*.pdf

#the result file
main.pdf

#good olg LaTex textbook :)
Львовский_LaTex.pdf
